@font-face {
    font-family: "Raleway";
    src: url(/CSS/Raleway/Raleway-VariableFont_wght.ttf) format(truetype),
    url(/CSS/Raleway/Raleway-Italic-VariableFont_wght.ttf) format(truetype);
}

/* ---- BODY ---- */

body{
    font-family: "raleway";
    font-weight: 400;
    margin: 0;
}

main{
    max-width: 1400px;
    margin: 0 50px;
}

img{
    object-fit: cover;
    /* pour une image non déformer */
}

a{
    color: black;
    text-decoration: none;
    /* tous les liens sans underline */
}

/* ---- HEADER ---- */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 112px;
    margin-bottom: 10px;
}

/* ---- HEADER LOGO ---- */

.logo img{
    width: 61px;
    height: 19px;
}

/* ---- HEADER NAV ----*/

nav ul{
    display: flex;
}

nav li{
    list-style: none;
}

.bouton_hebergements{
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 45px 30px 22px 30px;
}

.bouton_activites{
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 45px 40px 22px 40px;
}

.bouton_hebergements:hover, .bouton_activites:hover{
    color: blue;
    font-weight: 500;
    border-top: 2px blue solid;
}

/* ----SECTION RECHERCHE ---- */

.recherche h1{
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.recherche h2{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

/* ---- BAR RECHERCHE ---- */

.form_recherche{
    margin-top: 20px;
    border-top: 20px;
    width: 500px;
    position: relative;    
}

label{
    background-color: #f2f2f2;
    position: absolute;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
}

label i{
    position: absolute;
    top: 16px;
    right: 18px;
}

input{
    position: relative;
    color: rgb(0, 0, 0);
    width: 282px;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    border: 1px #f2f2f2 solid;
    font-family: "raleway";
    left: 50px;
}

::placeholder{
    color: black;
}

.logo_recherche{
    position: absolute;
    width: 132px;
    height: 49px;
    border-radius: 0 15px 15px 0;
    background-color: blue;
    left: 286px;
    top: 0px;
}

.logo_recherche a{
    color: white;
}

.logo_recherche{
    font-weight: 700;
    text-align: center;
}

.icone_loupe{
    display: none;
}

/* ---- SECTION LIENS FILTRES ----*/

.liens_filtres{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}

.liens_filtres h2{
    font-size: 18px;
    font-weight: 700;
}

.liens_filtres ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    width: 850px;
    /* utilisation space-around avec width fixe */
}

.bouton_filtre{
    border: 1px #f2f2f2 solid;
    border-radius: 25px;
    list-style: none;
    font-size: 17px;
    font-weight: 700;
    padding: 10px 18px;
}

.bouton_filtre a{ 
    padding: 5px 0;
    /* padding à 5px pour augmenter surface cliquable */
}

.bouton_filtre a i{
    margin-right: 10px;
    color: #0065fc;
    font-size: 20px;
}

.bouton_filtre:hover{
    background-color: #DEEBFF;
    /* surface du bouton entier */
}

/* ---- TEXTE INFO ---- */

.info{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info p i{
    border: 1px #d9d9d9 solid;
    padding: 6px 9px;
    font-size: 10px;
    color: #0065fc ;
    border-radius: 100px;
    margin-right: 10px;
    /* jouer avec padding et border-radius pour avoir cercle */
}

.info h2{
    font-size: 16px;
    font-weight: 400;
}

/* ---- SECTION HEBERGEMENTS ET ASIDE... ---- */

.hebergements_et_aside {
    display: flex;
    flex-flow: wrap row;
    /* 2 blocs gris */
}

/* ---- ARTICLES HEBERGEMENTS ---- */

.articles_hebergements{
    background-color: #f2f2f2;
    flex: 5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 40px;
    /* utilisation de flex=5 pour avoir le bloc gauche */
}

#hebergements{
    font-size: 22px;
    font-weight: 700;
}

.conteneur_cartes_hebergements{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* wrap pour faire descendre les cartes */
}

.carte_hebergements{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px lightgrey;
    height: 199px;
    width: 30%;
    padding: 5px;
    margin-bottom: 30px;
    /* la largeur des cartes est de 30% pour rentrer dans le bloc */
}

.carte_hebergements img{
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
}

.texte_hebergement{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35%;
    margin-left: 5px;
    /* texte et étoiles en colonnes*/
}

.carte_hebergements h2{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.carte_hebergements h3{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.stars_hebergements{
    display: flex;
    font-size: 12px;
    /* flex pour aligner les étoiles */
}

.star_blue{
    color: blue;
    margin-right: 4px;
}

.star_grey{
    color: lightgrey;
}

.bouton_affichez_plus{
    font-size: 18px;
    font-weight: 700;
}

/* ---- ASIDE LES PLUS POPULAIRES---- */

aside{
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-top: 30px;
    margin-left: 40px;
    /* bloc plus petit donc flex=3 et positionné en colonne */
}

.titre_aside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    /* titre "les plus populaires" et logo espacé */
}

.titre_aside h1{
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0;

}
.titre_aside i{
    font-size: 18px;
    color: blue;
    /* logo maquette ne fonctionne pas? */
}

.conteneur_cartes_aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* cartes disposés en colonne et centré */
}

.carte_aside{
    background-color: white;
    box-shadow: 0 0 10px lightgray;
    border-radius: 20px;
    padding: 5px;
    height: 145px;
    width: 80%; 
    margin-bottom: 30px;
    /* largeur carte de 80% */
}

.image_aside{
    border-radius: 20px 0 0 20px;
    float: left;
    height: 100%;
    width: 40%;
    margin-right: 6px;
    /* utilisation de float pour déplacer l'image à gauche */
}

.texte_stars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    height: 95%;
    /* textes et étoiles en colonne et espacés */
}

.texte h2{
    font-size: 16px;
    font-weight: 700;
}

.texte h3{
    font-size: 14px;
    font-weight: 400;
}

.stars_aside{
    display: flex;
    font-size: 12px;
    /* utilisation de flex pour aligner les étoiles */
}

/* ---- SECTION ACTIVITES A MARSEILLE ---- */

.activites_marseille{
    margin-top: 60px;
}

#activites{
    font-size: 22px;
    font-weight: 700;
}

.conteneur_cartes_activites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* utilisation de space-between pour espacer au max sur les cotés */
}

.carte_activite{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px 10px lightgray;
    width: 23%;
    height: 445px;    
}

.carte_activite img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 85%;
}

.carte_activite h2{
    font-weight: 700;
    font-size: 16px;
    margin: 10px;
}

/* ---- FOOTER ---- */

footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    height: 225px;
    padding-right: 200px;
    /* 200px de marge intérieur pour se rapprocher de la maquette */
}

.info_footer{
    margin-top: 40px;
}

.info_footer h2{
    font-size: 18px;
    font-weight: 700;
}

.info_footer ul{
    padding-left: 0;
}

.info_footer li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 400; 
    margin-bottom: 10px;   
}

/* -------------------------------- */
/* ---- MEDIA QUERIES TABLETTE ---- */
/* -------------------------------- */

@media screen and (max-width: 992px) {

    main{
        margin: 0 20px;
    }
    
/* ---- TABLETTE SECTION HEBERGEMENTS ET ASIDE ---- */

    .hebergements_et_aside{
        display: flex;
        flex-direction: column;
        /* les 2 blocs en tablette sont en colonne */
    }

/* ---- TABLETTE ASIDE LES PLUS POPULAIRES ---- */

    aside{
        margin-top: 50px;
        margin-left: 0;
        padding: 0 40px 0 40px;
    }

    .titre_aside{
        justify-content: space-between;
    }

    .conteneur_cartes_aside{
        flex-direction: row;
        justify-content: space-around;
        /* les cartes en tablette sont en ligne */
    }

    .carte_aside{
        width: 30%; 
        margin-bottom: 30px;
        /* changement de largeur en tablette */
    }

 /* ---- TABLETTE SECTION ACTIVITES ---- */

    .conteneur_cartes_activites{
        margin-top: 30px;
    }

    .carte_activite{
        width: 21%;
        height: 267px;
        /* changement de taille des cartes */
    }

    .carte_activite img{
        height: 75%;
    }

 /* ---- TABLETTE FOOTER ---- */

    footer{
        padding-right: 80px;
    }

}

/* ------------------------------ */
/* ---- MEDIA QUERIES MOBILE ---- */

    @media screen and (max-width: 768px) {

    body {
        margin: 0;
    }

    main{
        margin: 20px 0 0 0;
    }

/* ---- MOBILE HEADER ----- */

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        /* logo Bookin et la NAV sont en colonnes en mobile */
    }
        
    .bouton_hebergements{
        padding: 45px 30px 22px 30px;
    }
        
    .bouton_activites{
        padding: 45px 60px 22px 60px;
    }

    nav{
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 2px #f2f2f2 solid;
        /* ligne grise en dessous de la NAV avec une largeur à 100% */
    }
        
    nav ul{
        justify-content: center;
        padding: 0;       
    }

    .bouton_hebergements:hover, .bouton_activites:hover{
        border-top: none;
        border-bottom: 2px blue solid;
    }

/* ---- MOBILE BAR RECHERCHE ---- */

    .recherche h1, .recherche h2, .form_recherche{
        margin-left: 20px;
    }

    .logo_recherche{
         width: 50px;
    }

    .rechercher{
        display: none;
    }
        
    .icone_loupe{
        display: inline;
        /* apparition du logo loupe à la place de rechercher */
    }

/* ---- MOBILE FILTRES ---- */

    .liens_filtres{
        flex-direction: column;
        /* en mobile le titre "filtres" et les boutons filtres sont en colonnes */
    }

    .liens_filtres h2{
        margin-left: 20px;
    }

    .liens_filtres ul{
        margin: 0;
        width: 100%;
        justify-content: flex-start;
        /* les boutons filtres sont toujours en lignes et situé à gauche */
    }

    .bouton_filtre{
        margin: 0 15px 15px 0;
        min-width: 35%;
        font-size: 11px;
        /* la largeur minimum de 35% permet le décalage en bas */
    }

    .info{
        margin: 20px 0 0 20px
    }

/* ---- MOBILE SECTION HEBERGEMENT ET ASIDE LES PLUS POPULAIRES ---- */

    .hebergements_et_aside{            
        flex-direction: column-reverse;
        margin-bottom: 0;
        /* le bloc hebergements et les plus populaires sont inversés */
    }

/* ---- MOBILE ASIDE LES PLUS POPULAIRES ---- */

    aside{
        border-radius: 0;
        margin-top: 30px;
        padding: 20px 20px 40px 20px;
    }
    
    .conteneur_cartes_aside{
        flex-direction: column;

    }
    .carte_aside{
        width: 100%;
        margin-bottom: 10px;
    }

/* ---- MOBILE ARTICLE HEBERGEMENTS ---- */

    .articles_hebergements {
        background-color: white;
        margin: 0;
        padding: 0 20px;
    }
    .conteneur_cartes_hebergements{
        flex-flow: column;
        background-color: white;
        /* la couleur du fond devient blanc */
    }
    .carte_hebergements{
        height: 199px;
        width: 100%;
        margin-bottom: 10px;
    }
    .bouton_affichez_plus {
        display: none;
    }

/* ---- MOBILE SECTION ACTIVITES A MARSEILLE ---- */

    .activite_marseille{
        margin: 80px 20px;
    }

    .activite_marseille h1{
        width: 60%;
        margin-bottom: 0;
        /* 60% de largeur pour le titre sur 2 lignes comme la maquette */
    }

    .conteneur_cartes_activites{    
        flex-direction: column;
        margin-top: 10px;
        /* disposition en colonne sur mobile */
    }

    .carte_activite{            
        width: 100%;
        height: 190px;
        margin-bottom: 24px;
        /* largeur différente sur mobile */
    }

/* ---- MOBILE FOOTER ---- */

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
        margin-top: 80px;
        padding-left: 20px;
        padding-bottom: 60px;
        /* disposition en colonne */
    }
    
    .info_footer h2{
        margin-top: 0;
    }

}

/* fin */

