@font-face {
    font-family: "Raleway";
    src: url(/CSS/Raleway/Raleway-VariableFont_wght.ttf) format(truetype),
    url(/CSS/Raleway/Raleway-Italic-VariableFont_wght.ttf) format(truetype);
}

/* --------------------------------BODY----------------------------  */

body{
    font-family: "raleway";
    font-weight: 400;
    margin: 0;
}

main{
    margin: 0 50px;
    max-width: 1400px;
    margin: auto;
}

/* -------------------------------HEADER----------------------------- */

header {
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 26px 10px 20px 5px;
}

/*  --------------------------- HEADER LOGO --------------------- */

.logo img{
    width: 61px;
    height: 19px;
}

/* ----------------------------- HEADER NAV --------------------*/

nav ul{
    width: 50%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    padding: 40px 20px 20px 20px;
    background-color: red;
    color: black;
    text-decoration: none;
    font-size: 16px;
    border: 2px black solid;
}

nav ul li a:hover{
    color: blue;
    font-weight: 500;
    border-top: 2px blue solid;
}

/* ----------------------------- RECHERCHE--------------------------- */

.recherche h1 {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

.recherche h2 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

/* ---------------------------- BAR RECHERCHE ------------------- */



.form_recherche{
    margin-top: 20px;
    border-top: 20px;
    width: 500px;
    position: relative;    
}

label {
    background-color: #f2f2f2;
    position: absolute;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
}

label i{
    position: absolute;
    top: 16px;
    right: 18px;
}

input{
    position: relative;
    color: rgb(0, 0, 0);
    width: 282px;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    border: 1px #f2f2f2 solid;
    font-family: "raleway";
    left: 50px;
}

::placeholder{
    color: black;
}

.logo_recherche{
    position: absolute;
    width: 132px;
    height: 49px;
    border-radius: 0 15px 15px 0;
    background-color: blue;
    color: white;
    left:286px;
    top:0px;
}

.logo_recherche p{
    font-weight: 700;
    text-align: center;
}

.logo_recherche i {
    display: none;
}

/* -----------------------------LIENS FILTRES------------------ */

ul {
    padding: 0;
}

.liens_filtres{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.liens_filtres h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}


.liens_filtres ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 900px;
}

.logo_filtre{
    border: 1px #f2f2f2 solid;
    border-radius: 25px;
    list-style: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 18px;
}

.logo_filtre a{
    color: black;
    text-decoration: none;
}

.logo_filtre a i{
    margin-right: 10px;
    color: #0065fc;
    font-size: 20px;
}

.logo_filtre:hover{
    background-color: #DEEBFF;
}

/* --------------------------- TEXTE INFO --------------------- */

.info {
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info p i {
    border: 1px #d9d9d9 solid;
    padding: 6px 9px;
    font-size: 10px;
    color: #0065fc ;
    border-radius: 100px;
    margin-right: 10px;
}

.info h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

/* -------------- SECTION HEBERGEMENTS ET ASIDE ----------- */

img {
    object-fit: cover;
}

.hebergements_et_aside {
    display: flex;
    flex-flow: wrap row;
}

/* ------------------ ARTICLES HEBERGEMENTS ---------------- */

.articles_hebergements {
    background-color: #f2f2f2;
    flex: 5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 40px;
}

#hebergements {
    font-size: 22px;
    font-weight: 700;
}

.conteneur_cartes_hebergements{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.carte_hebergements{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px lightgrey;
    height: 199px;
    width: 30%;
    padding: 5px;
    margin-bottom: 30px;
}

.carte_hebergements img{
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
}

.texte_hebergement{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35%;
}

.carte_hebergements h2{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.carte_hebergements h3{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.stars_hebergements{
    display: flex;
    font-size: 12px;
}

.star_blue{
    color: blue;
    margin-right: 4px;
}

.star_grey{
    color: lightgrey;
}

.affichez{
    font-size: 18px;
    font-weight: 700;
}

/* ------------------------ASIDE----------------------- */

aside{
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-top: 40px;
    margin-left: 40px;
}

.titre_aside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.titre_aside h1{
    font-size: 22px;
    font-weight: 700;

}
.titre_aside i{
    font-size: 18px;
    color: blue;
}

.conteneur_cartes_aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carte_aside{
    background-color: white;
    box-shadow: 0 0 10px lightgray;
    border-radius: 20px;
    padding: 5px;
    height: 145px;
    width: 80%; 
    margin-bottom: 30px;
}

.image_aside{
    border-radius: 20px 0 0 20px;
    float: left;
    height: 100%;
    width: 40%;
    margin-right: 6px;
}

.texte_stars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    height: 95%;
}

.texte h2{
    font-size: 16px;
    font-weight: 700;
}

.texte h3{
    font-size: 14px;
    font-weight: 400;
}

.stars_aside{
    display: flex;
    font-size: 12px;
}

/* ---------------- SECTION ACTIVITE A MARSEILLE--------- */

.activite_marseille{
    margin-top: 60px;
}

#activites{
    font-size: 22px;
    font-weight: 700;
}

.conteneur_cartes_activites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carte_activite{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px 10px lightgray;
    object-fit: cover;
    width: 23%;
    height: 445px;
}

.carte_activite img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 85%;
}

.carte_activite h2{
    font-weight: 700;
    font-size: 16px;
    margin: 10px;
}

/* --------------------------FOOTER--------------------- */

footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    height: 225px;
    padding-right: 100px;
}

.info_footer{
    margin-top: 40px;
}

.info_footer h2{
    font-size: 18px;
    font-weight: 700;
}

.info_footer li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 400; 
    margin-bottom: 10px;   
}

.info_footer a{
    color: black;
    text-decoration: none;
}


/* -------------------------------------------- */
/* ----------------MEDIA QUERIES-------------------- */

@media screen and (max-width: 992px) {

    .hebergements_et_aside{
        display: flex;
        flex-direction: column;
    }

    aside{
        margin-top: 50px;
        margin-left: 0;
        padding: 0 40px 0 40px;
    }

    .titre_aside{
        justify-content: space-between;
        align-items: center;
    }

    .conteneur_cartes_aside{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .carte_aside{
        height: 145px;
        width: 30%; 
        margin-bottom: 30px;
    }

    .conteneur_cartes_activites{
        margin-top: 30px;
    }

    .carte_activite{
        width: 21%;
        height: 267px;
    }

    .carte_activite img{
        width: 100%;
        height: 75%;
    }
}
    

    @media screen and (max-width: 768px) {


        body {
            margin: 0;
        }

        main{
            margin: 0;
        }

        header {
            background-color: green;
            display: flex;
            flex-direction: column;
            justify-content:;
            align-items: center;
        }

        nav ul {
            background-color: orange;
            margin: 0;
        }

        nav ul li{
            margin: 0 0 0 0;
            padding: 10px;
        }
        
        nav ul li a{
            padding: 10px;
            color: black;
            text-decoration: none;
            font-size: 16px;
            border: 2px black solid;
            /* difficulté avec hover lien a car decalage vers le haut */
        }
        
        nav ul li a:hover{

            color: blue;
            font-weight: 500;
            border-top: 2px blue solid;
        }
        
        
        
    
    
    
    
    

    
    

}